body {
    background-color: antiquewhite; 
}

.container {
    background-color: whitesmoke;
    min-width: 245px;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.task-area {  
    border: 2px solid lightgray;
    position: relative;

}

.task-tabs {
    display: flex;
    border-bottom: 2px solid lightgray;
    position: relative;
    
}

.task-tabs div {
    padding: 1em;
    cursor: pointer;
}

#under-line {
    height: 5px;
    background-color: orange;
    position: absolute;
    width: 65px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid lightgray;
    flex-grow: 1;
}

.task-done {
    display: flex;
    text-decoration: line-through;
    background-color: gray;
    justify-content: space-between;
    padding: 1em;
    flex-grow: 1;
    border-bottom: 1px solid lightgray;
}

.button-box {
    display: flex;
}

#done-button img{
    display: block;
    height: 50px;  
    width: 50px;
}

#undone-button img{    
    display: block;
    height: 50px;  
    width: 50px;
}

#trash-box img{
    display: block;
    height: 50px;  
    width: 50px;
}